body{
    background-color:#8eff2b;
    text-align: center;
}

h1{
    font-size: 40px;
    color: #367003;
    text-align: center;
}

a{
    font-size: 20px;
    color:black
}

a:hover{
    color: blue;
}

table {
    margin-left: auto;
    margin-right: auto;
}

td{
    color:#8eff2b;
    font-size: 25px;
    border-radius: 10px;
    background-color:#367003;
    text-align: center;
}

p1{
    font-size: 10px;
    font-style: italic;
}
